<a href="https://colab.research.google.com/github/AnnePet-Ameh/Hamoye/blob/main/Working%20with%20pandas_Series_dataframe.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
calories = [400, 200, 600,800]
myvar = pd.Series(calories)
myvar

0    400
1    200
2    600
3    800
dtype: int64

In [ ]:
myvar = pd.series(calories , index =["day1", "day2", "day3", "day4"])

In [8]:
myvar[1]

200

In [10]:
myvar=pd.Series(calories, index =["day1", "day2", "day3","day4"])

myvar

day1    400
day2    200
day3    600
day4    800
dtype: int64

In [11]:
myvar[0]

400

In [12]:
myvar.loc["day1"]

400

In [13]:
calories={"day1":2, "day2" :4, "day3":5,"day4":6}

myvar=pd.Series(calories)
myvar

day1    2
day2    4
day3    5
day4    6
dtype: int64

In [14]:
myvar.values

array([2, 4, 5, 6])